.demo_page {

  .slogan {
    position: relative;
    padding-top: 30px;
    .text {
      padding-top: 31px;
      color: rgba(255, 255, 255, 0.83);
      font-size: 19px;
      font-size: 18px;
      position: relative;
      bottom: 0px;
      /* padding-top: 20px; */
      right: 34px;
    }


    .fb-like {
      position: absolute;
      left: 338px;
      right: 0;
      margin: auto;
      top: 34px;
      bottom: 0;
    }
  }

  h3 {
    text-align: center;
    font-weight: bold;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

    .info-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #1D1D1D;
      z-index: 9;

      .info {
        width: 580px;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        height: 346px;
      }

      p {
        font-size: 30px;
        color: white;
        padding-left: 20px;
        font-weight: bold;
        letter-spacing: 12px;

        &:first-child {
          margin-top: 55px;
        }
      }

      ul {
        text-align: center;
        color: white;

        li {
          padding-left: 30px;
          font-size: 23px;
          padding-top: 20px;
          font-weight: bold;
          padding-right: 30px;
        }
      }

      svg {
        width: 250px;

        polygon, rect, circle, path {
          fill: white
        }
      }
    }

    &-container {
      position: relative;
      min-width: 50%;
      max-width: 791px;
      margin: auto;
      margin-top: -475px;
      background: white;
      height: 600px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

      @media (max-width: $screen-sm){
        h3 {
          margin: 0;
          padding: 10px;
        }
      }

      @media (max-width: $screen-sm) {
        margin-top:0 ;
        height: auto;
      }

      @media (max-width: $screen-sm) {
        svg {
          display: none;
        }
      }
    }
  }

  .video iframe,
  .video object,
  .video embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  header {
    min-height: 650px;
    position: relative;
    overflow: hidden;
    @media (max-width: $screen-sm) {
      min-height: inherit;
    }

    &:before {
      left: 0;
      height: 170%;
      right: 0;
      top: -64%;
      content: " ";
      position: absolute;
      background: #D23333;
      background: -moz-radial-gradient(center, ellipse cover,  rgba(210,51,51,1) 0%, rgba(84,23,21,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(210,51,51,1)), color-stop(100%,rgba(84,23,21,1))); /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(210,51,51,1) 0%,rgba(84,23,21,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover,  rgba(210,51,51,1) 0%,rgba(84,23,21,1) 100%); /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover,  rgba(210,51,51,1) 0%,rgba(84,23,21,1) 100%); /* IE10+ */
      background: radial-gradient(ellipse at center,  rgba(210,51,51,1) 0%,rgba(84,23,21,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d23333', endColorstr='#541715',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }

  .content {
    text-align: center;
    color: white;
    position: relative;
    line-height: 0;
    padding-top: 40px;

    span {
      position: relative;
      bottom: 13px;
      font-size: 44px;
    }

    svg {
      width: 300px;
      @media (max-width: $screen-sm) {
        max-width: 200px;
      }
      path, rect, circle, polygon {
        fill: white;
      }
    }
  }

  .particles-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 160px;
    overflow: hidden;
  }
}

.container-products {
  max-width: 791px;
  @media (max-width: $screen-sm) {
    padding-left: 5px;
    padding-right: 5px;
  }

  ul {
    padding-left: 0;
  }

  .nav-tabs {
    margin-top: 40px;
  }
}

.products {
  list-style: none;
  padding-top: 40px;

  .product-info {
    float: left;
  }

  li {
    padding-top: 20px;
      padding-bottom: 20px;
    .product-tagline {
      font-size: 19px;
      opacity: 0.6;
    }
    .product-name {
      font-size: 25px;

      font-weight: bold;
    }

  }
}
.tab-pane {
  min-height: 600px;
}