.wrapper {
  padding-top: 100px;
  // background-image: url(http://talksport.com/sites/default/files/tscouk_old_image/blog/Muhammad-Ali_0.jpg);
  // background-position: center top;
  background: #D9552F;
  font-family: Avenir;

  .people {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(http://talksport.com/sites/default/files/tscouk_old_image/blog/Muhammad-Ali_0.jpg);
    background-size: cover;
    position: relative;

    h2 {
      text-shadow: 0px 2px rgb(76, 66, 62);
    }

    &-title {
      position: relative;
      color: white;
      z-index: 1;
      padding-left: 30px;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: ' ';
      background: rgba(83, 69, 64, 0.76);


    }

    .feature {
      padding: 0;
    }
  }

  .clash {
    border-left: 1px dashed darken(rgba(217, 85, 47, 1), 6%);
    padding-left: 60px;
    &-start {
      color: rgb(178, 67, 35);
    }
  }

  .startup {
    background-image: url(http://i.dailymail.co.uk/i/pix/2011/11/09/article-2059249-03701A860000044D-498_468x343.jpg);
    &:first-child {
      background-image: url(http://static.guim.co.uk/sys-images/Sport/Pix/pictures/2009/10/30/1256905958016/muhammad-ali-001.jpg);
    }
    &:last-child {
      background-image: url(https://tikatango.files.wordpress.com/2013/05/muhammad-ali-boxing-sports-3.jpg);
    }
    background-size: 100%;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    .btn {
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .filter {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(190, 75, 75, 0.5);
      z-index: 0;
      border-radius: 5px;
    }
    &-img {
      border-radius: 10px;
      border: 2px solid darken(rgba(217, 85, 47, 1), 2%);
      margin: 20px auto;
      width: 60%;
    }
    &-details {
      margin: 20px;
      color: white;
    }
    &-name {
      font-size: 30px;
      color: white;
      font-weight: 800;
    }

  }

  .jury {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 100px;



    ul {
      li {
        display: inline-block;
      }

      span {
        display: block;
        height: 150px;
        width:150px;
        background: #EDEDED;
      }
    }

    h2 {
      padding-bottom: 20px;
      color: white;
      text-shadow: 0 2px 0 rgb(65, 54, 51);
    }

    p {
      font-size: 30px;
      line-height: 1.5;
    }
  }

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: " ";
    z-index: 0;
  }

  .container.landing {
    background: #D9552F;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
  }

  .infos {
    margin-left: 10px;
    font-size: 25px;
    color: rgb(152, 61, 36);

    &-date {
      color: white;
      letter-spacing: 5px;
      margin: 0;
    }

    &-location  {
      font-size: 20px;
      margin-top: 10px;
      margin: 0;
      color: rgba(0, 0, 0, 0.19);
    }

  }

  .typo {
    svg {
      width: 60%;

      @media (max-width: $screen-sm) {
        width: 60%;
        display: block;
        margin-left: 20px;
        margin: auto;
      }
    }
  }


  .logo {
    width: 90px;
    margin: 30px;
    float: left;
  }

  .menu {
    float: right;
    margin-right: 20px;
    margin-top: 50px;

    li {
      display: inline-block;
      font-weight: 500;
      a {
        color: rgb(176, 69, 38);
        &:hover {
          color: white;
        }
      }
      color: rgb(176, 69, 38);
      letter-spacing: 1Px;
      font-size: 19px;
      margin-left: 50px;
      transition: color 0.1s ease, border-color 0.1s ease;
      cursor: pointer;
      &:hover {
        color: white;
        border-color: white;
      }
    }

    .callToAction {
      border: 2px solid;
      padding: 10px 20px;
      border-radius: 6px;
      &:hover {
        color: white;
      }
    }
  }
}

.feature-banner {
  padding: 200px;
  position: relative;
  background-position: center center;
  background-size: 100%;
  background-image: url(http://talksport.com/sites/default/files/tscouk_old_image/blog/Muhammad-Ali_0.jpg);
  &:after {
    background: rgba(52, 52, 52, 0.69);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    z-index: 1;
  }
}

.feature-container {
  background: white;

  .pitch {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 1;

    h2 {
      padding-bottom: 20px;
    }

    p {
      font-size: 22px;
      line-height: 1.5;
    }
  }

  .feature {
    padding: 100px;
    padding-top: 30px;
    padding-left: 30px;

    p {
      line-height: 1.5;
      font-size: 21px;
      color: rgb(116, 116, 116);
    }

  }

}

.round {
  background: whitesmoke;
  padding: 20px;
  box-shadow: 1px 1px 1px rgb(226, 225, 225);
  h3 {
    color: rgba(215, 85, 54, 1);
  }
  margin-bottom: 10px;
}

.card {
  border-radius: 3px;
  background: #F7F7F7;
  margin: 30px;
  border-bottom: 1px solid rgb(232, 232, 232);
  padding-top: 40px;
  position: relative;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;

  p {
    line-height: 1.5;
    font-size: 21px;
    color: #747474;
  }

  &:hover {
    a {
      opacity: 1;
    }


  }

  a {
      text-decoration: none;
      display: block;
      text-align: right;
      margin-top: 30px;
      transition: opacity 0.1s ease;
      color: #D9552F;
  }

  .feature-image {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    z-index: 2;
  }


  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    background: #D9552F;
    height: 120px;
    transition: 0.1s ease background;
    border-radius: 3px 3px 0px 0px;
  }

  &.judge {




    p {
      line-height: 1.5;
      font-size: 21px;
      color: #747474;
    }

    h3 {
      font-weight: bold;
      color: rgb(83, 69, 64);
      text-shadow: none;

    }
    &:after {
      background: white;
      border-bottom: 1px solid rgb(231, 231, 231);
    }
  }

  &.lover {

    a {
      color: #32B796;
    }

    &:after {
      background: #32B796;
    }
    h3 {
      text-shadow: 0px 2px #28987C;
    }
  }


  p {
    padding: 30px;
    padding-top: 10px;
  }

  h3 {
    text-align: center;
      color: white;
      position: relative;
      top: -40px;
      font-size: 22px;
      z-index: 1;
      padding-left: 11px;
       text-shadow: 0px 2px #BA4828;
      display: inline-block;
  }

  .form-container {
    position: absolute;
    right: 0;
    left: 100%;
    top: 0;
    transition: left 0.3s ease;
    width: 100%;
    background: white;
    height: 100%;
    z-index: 9;
    box-shadow: 0 0 1px rgba(0,0,0,0.15);

    form {
      padding-left: 30px;
      padding-right: 30px;

      .group {
        float: left;
        margin-top: 10px;
      }

      .submit{
        float: right;
        background: rgb(217, 85, 47);
        border: none;
        padding: 10px 20px;
        border-radius: 20em;
        color: white;
        font-weight: bold;
        border: 2px solid rgb(217, 85, 47);
        transition: border-color 0.2s ease;

        &:hover {
          border-color: darken(rgb(217, 85, 47), 10%) ;
        }
      }
    }

    .input {
      margin-bottom: 10px;
    }

    header {
      background: #fcf5e2;
      padding: 30px;
      padding-top: 77px;
      margin-bottom: 25px;
      color: rgb(158, 157, 152);
      font-weight: bold;
      font-size: 23px;
      padding-bottom: 10px;
    }

    &.active {
      left: 0;
    }
  }
}

form {
  width: 100%;
}


.input {
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.11),inset 0 0 0 1px rgba(0,0,0,0.13);
  color: #534540;
  padding: 7px 12px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  &:focus {
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.25),inset 0 0 0 1px rgba(0,0,0,0.25);
    outline: 0;
  }
}

.feature-image {
  height: 100px;
  width: 100px;
  border-radius: 10px;

  &-fighter {


    &-2 {
      background-image: url(http://upload.wikimedia.org/wikipedia/commons/e/e6/John_L._Sullivan_1898.jpg);
      background-size: cover;
      background-position: center top;
      background-size: 100%;
    }

    &-3 {
      background-image: image-url('PH.png');
      background-size: cover;
      background-position: left top
      ;
      background-size: 308%;
    }
  }
}

.judge {
  &-boris {
    background: url(http://www.mutinerie.org/wp-content/uploads/2013/10/Boris-Paillard_avatar_1382610686-512x512.jpg);
    background-size: cover;
  }

  &-seb {
    background-size: 100%;
    background: url(http://d9sch4zul5dl8.cloudfront.net/assets/teachers/seb-35df9e5cbc47899488feeabff2d5b8fb.png);
  }

  &-romain {
    background-size: 100%;
    background: url(http://www.mutinerie.org/wp-content/uploads/2013/10/Romain-Paillard_avatar_1382546930-512x512.jpg);
  }

  &-invite {
    background-size: 100%;
    background: url(http://www.tsmplug.com/wp-content/uploads/2014/12/muhammad-ali-9000469231.jpg);
  }
}

.interet {
  padding-top: 40px;
  &:last-child {
    padding-bottom: 80px;
  }
}

.wrapper-jury {
  background: #534540;
}

.judge-seb {
  background-size: 100%;
}

.judge-romain {
  background-size: 100%;
}

.judge-invite {
  background-size: cover;
  background-position: center center;
}

@media (max-width: $screen-sm) {
  .landing {
    text-align: center;
  }
  svg {
    width: 40% !important;
  }
  .clash {
    padding-left: 0px !important;
    border: none !important;
  }
  .startup {
    border-radius: 0px !important;
    .filter {
      border-radius: 0px !important;
    }
  }
}
