<div class="top-banner">
  Apprenez à coder en 9 semaines. <a href="http://www.lewagon.org/?utm_medium=referral&utm_source=demoday.lewagon.org&utm_campaign=top_banner_demoday" target="_blank">En savoir plus</a> →
</div>
