<%= render "shared/fbsdk" %>
<div class="social-share">
  <div class="container">

    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="Lewagonparis" data-lang="fr" data-hashtags="ProductPunch">Tweeter</a>
    <div class="fb-share-button" data-href="http://punch.lewagon.org" data-layout="button"></div>
  </div>
</div>