<div class="wrapper">
  <div class='container landing'>
    <nav class='hidden-xs'>
      <div class="logo">
        <%= render 'shared/punch/logo' %>
      </div>

      <ul class='menu '>
        <li>A propos de la session</li>
        <li class='callToAction'>Inscription</li>
      </ul>
    </nav>
    <div class='col-xs-12 typo'>
      <%= render 'shared/punch/typo_2' %>
      <div class="date">
        <p>19 MARS 2015</p>
        <p>23 rue du Petit Musc, Paris</p>
      </div>
    </div>
  </div>
  <div class='feature-container'>
      <div class="container">
      <div class="col-sm-12 pitch">
        <h2>Le principe</h2>
        <p>
          5 startups viennent faire challenger leur produit par un jury d'experts (software engineers, front-end devs, UI & UX designers, product managers, data-scientist)
        </p>
      </div>
      <div class="col-sm-12 pitch interet">
        <h2>L'intérêt</h2>
        <p>
          Les produits sont décortiqués aux yeux de tous avec les feedbacks qui vont avec, sans bullshit marketing: Tech, design, UX/UI.
        </p>
      </div>
      </div>
      <div class='wrapper-jury'>
      <div class="container">
      <div class="col-sm-12 jury">
        <h2>Le Jury</h2>
        <div class="col-sm-12 col-xs-12 col-md-6">
          <div class='card judge'>

            <div class="judge-seb feature-image ">
            </div>
            <h3>Sébastien Saunier</h3>
            <p>
              Baroudeur du code et CTO du Wagon, Sébastien sévit en tant que coach technique pour startup. Il aura à coeur de transmettre rigueur et bonne pratique !
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6">
          <div class='card judge '>

            <div class=" judge-boris feature-image ">
            </div>
            <h3>Boris Paillard</h3>
            <p>
              Boris a fui sa salle de marché pour se lancer dans le code corps et âme. Maintenant CEO du Wagon, il comprend parfaitement les besoins des débutants et a codé avec Sébastien le site et les plate-formes pédagogiques du Wagon.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6">
          <div class='card judge'>

            <div class="feature-image judge-romain">
            </div>
            <h3>Romain Paillard</h3>
            <p>
              Les produits sont décortiqués aux yeux de tous avec les feedbacks qui vont avec, sans bullshit marketing: Tech, design, UX/UI.
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6">
          <div class='card judge'>

            <div class="feature-image judge-invite">
            </div>
            <h3>L'invité de la semaine</h3>
            <p>
              Chaque semaine, le jury invite un nouveau profil technique pour renforcer les feedbacks produits.
            </p>
          </div>
        </div>
      </div>
      </div>

      </div>

      </div>

      <div class='people'>
      <div class="container">
        <div class="col-sm-12 people-title">
          <h2>Inscription</h2>
        </div>

        <div class="col-sm-12 feature">
        <div class="col-sm-12 col-xs-12 col-md-6">

          <div class="card" id='productOwner'>
            <div class='cardrousel'>
              <div>
                <div class="feature-image-fighter-2 feature-image">
                </div>
                <h3>Product Owner</h3>
                <p>
                  Les produits sont décortiqués aux yeux de tous avec les feedbacks qui vont avec, sans bullshit marketing: Tech, design, UX/UI.
                  <a>Proposer un produit</a>
                </p>
              </div>

              <div class='form-container'>
                <header>
                  Poster un Produit
                </header>
                <form action="https://formspree.io/thomas@lewagon.org" method="post">
                  <input type="text" class='input' name='product_url' placeholder='URL du Produit'>
                  <input type="text" class='input'  name='description'  placeholder='Courte description'>
                  <input type="text" class='input' name='email'  placeholder='Email'>
                  <input type="hidden" name="_cc" value="miruna@lewagon.org" />
                  <div class="group">
                    <label for="checkbox">
                      C'est mon produit
                      <input name='mon_produit' type='checkbox' name="C'est mon produit">
                    </label>
                    </div>

                  <input type="submit" class='submit'>
                </form>
              </div>
            </div>
          </div>
        </div>

          <div class="col-sm-12 col-xs-12 col-md-6">
            <div class='card lover'>

              <div class="feature-image-fighter-3 feature-image ">
              </div>
              <h3>Product Lover</h3>
              <p>
                Les produits sont décortiqués aux yeux de tous avec les feedbacks qui vont avec, sans bullshit marketing: Tech, design, UX/UI.
                <a href="">Participer à la session</a>
              </p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        </div>
        </div>

      </div>



    <div class='clear'></div>
  </div>


</div>