<div class="wrapper">
  <div class='container landing'>
    <nav>
      <div class="logo">
        <%= render 'shared/punch/logo' %>
      </div>

      <ul class='menu'>
        <li>A propos de la session</li>
        <li class='callToAction'>Inscription</li>
      </ul>
    </nav>
    <div class='col-xs-12 typo'>
      <%= render 'shared/punch/typo_2' %>
      <div class="date">
        <p>19 MARS 2015</p>
        <p>23 rue du Petit Musc, Paris</p>
      </div>
    </div>
  </div>
  <div class='feature-container'>
      <div class="container">
      <div class="col-sm-12 pitch">
        <h2>Le principe</h2>
        <p>
          5 startups viennent faire challenger leur produit par un jury d'experts (software engineers, front-end devs, UI & UX designers, product managers, data-scientist)
        </p>
      </div>
      <div class="col-sm-12 pitch">
        <h2>L'intérêt</h2>
        <p>
          Les produits sont décortiqués aux yeux de tous avec les feedbacks qui vont avec, sans bullshit marketing: Tech, design, UX/UI.
        </p>
      </div>

      <div class="container">
      <div class="col-sm-12 jury">
        <h2>Le Jury</h2>
        <p>
          Les produits sont décortiqués aux yeux de tous avec les feedbacks qui vont avec, sans bullshit marketing: Tech, design, UX/UI.
        </p>
      </div>
      </div>

      </div>



      <div class='people'>
      <div class="container">
        <div class="col-sm-12 people-title">
          <h2>Inscription</h2>
        </div>

        <div class="col-sm-12 feature">
        <div class="col-xs-6">

          <div class="card" id='productOwner'>
            <div class='cardrousel'>
              <div>
                <div class="feature-image-fighter-2 feature-image">
                </div>
                <h3>Product Owner</h3>
                <p>
                  Les produits sont décortiqués aux yeux de tous avec les feedbacks qui vont avec, sans bullshit marketing: Tech, design, UX/UI.
                  <a>S'incrire comme Product Owner</a>
                </p>
              </div>

              <div class='form-container'>
                <header>
                  Poster un Produit
                </header>
                <form action="" method="posts">
                  <input type="text" class='input' placeholder='URL du Produit'>
                  <input type="text" class='input' placeholder='Courte description'>
                  <input type="text" class='input' placeholder='Email'>
                  <div class="group">
                    <label for="checkbox"> C'est mon produit </label>
                    <input name='checkbox' type='checkbox'>
                    </div>

                  <input type="submit" class='submit'>
                </form>
              </div>
            </div>
          </div>
        </div>

          <div class="col-xs-6">
            <div class='card lover'>

              <div class="feature-image-fighter-3 feature-image ">
              </div>
              <h3>Product Lover</h3>
              <p>
                Les produits sont décortiqués aux yeux de tous avec les feedbacks qui vont avec, sans bullshit marketing: Tech, design, UX/UI.
                <a href="">Participer à la session</a>
              </p>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        </div>
        </div>

      </div>



    <div class='clear'></div>
  </div>


</div>