/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 body, html {
  height: 100%;
 }

 .clear {
  clear: both;
 }

 .social-share {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-top: 4px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #E8E8E8;
  z-index: 10;
 }

 .fb-share-button {
  top: -15px;
 }