<a href="http://lewagon.org" target="_blank" rel="site du wagon">
  <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
  <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 729.1 159" enable-background="new 0 0 729.1 159" xml:space="preserve">
  <g>
    <path fill="#D23332" d="M63.3,89.6v11.7c-13.1,10-24,15-32.7,15c-3.8,0-6.7-0.9-8.5-2.8c-3.5-3.6-5.3-9.1-5.3-16.5
      c0-5.8,1.1-13.4,3.2-22.5c1.8-7.6,3.7-14.2,5.7-19.8c3.4-9.1,5.8-14.9,7.1-17.6c2.1-4.3,4.7-8.1,7.7-11.3c3.1-3.2,6.4-4.8,10-4.8
      c2.7,0,4.9,1.2,6.7,3.6c1.8,2.4,2.7,5.3,2.7,8.7c0,7.4-3.3,16.4-9.8,27.1C45.7,67.7,38.6,77.1,29,88.6c-0.2,1.6-0.4,4.4-0.7,8.4
      c-0.1,6.6,2.1,9.9,6.5,9.9c3.6,0,8.1-1.6,13.4-4.9C53.7,98.8,58.7,94.7,63.3,89.6z M30.9,75.1c7.5-10.6,12.4-18,14.9-22.3
      c4-7,5.9-12.9,5.9-17.6c0-3.2-0.9-4.8-2.6-4.8c-1.8,0-3.5,1.8-5.3,5.4C38.2,47.5,33.9,60.6,30.9,75.1z"/>
    <path fill="#D23332" d="M117.8,89.6v11.6c-14.1,10.3-27.6,15.4-40.6,15.4c-4.8,0-8.3-2.1-10.6-6.4c-1.9-3.4-2.8-7.8-2.8-13.2
      c0-10,3-18.9,9.1-26.7c6-7.8,12.9-11.7,20.7-11.7c7.4,0,11.1,3.5,11.1,10.4c0,6.2-3.2,11.7-9.7,16.5c-3.7,2.7-9.2,5.5-16.7,8.5
      l-2.8,1.1c-0.3,8.3,2.1,12.4,7.1,12.4C92.4,107.6,104.2,101.6,117.8,89.6z M76.6,86.1c12.5-4.4,18.8-9.7,18.8-15.7
      c0-2.1-1-3.1-3.1-3.1c-3.1,0-6.3,1.9-9.4,5.6C79.8,76.7,77.7,81.1,76.6,86.1z"/>
    <path fill="#D23332" d="M243.8,89.6v11.8c-3.9,2.7-7.9,4-12.2,4c-5.6,0-10.8-2.8-15.6-8.4c-7.6,12.9-15.6,19.3-23.8,19.3
      c-3.4,0-6.3-1.4-8.8-4.3c-2.4-2.9-4.1-6.8-4.8-11.8c-7.8,10.8-15.3,16.2-22.4,16.2c-6,0-9.1-6.2-9.1-18.7c0-11.1,2.7-23.2,8.1-36.1
      l12.3-1.2c-6,15.5-9.1,28.1-9.1,37.7c0,5,1,7.4,3.1,7.4c1.8,0,4.1-1.3,7-3.9c3.6-3.3,7.1-7.8,10.2-13.6c1.2-6.8,3.8-15.6,7.5-26.6
      l12.6-1c-6.1,16.8-9.2,29.1-9.2,36.6c0,6.5,1.6,9.8,4.8,9.8c2.1,0,4.8-1.7,8-5.2c3.2-3.5,6-7.6,8.3-12.4c-0.6-2.8-1-5.1-1-6.9
      c0-3.9,0.5-7.8,1.6-11.9c1-4,2.2-6.7,3.5-7.9c1.6-1.4,4.4-2.1,8.5-2.1c1.3,0,2,1.2,2,3.6c0,5.7-1.8,14-5.4,24.9
      c4,5.3,7.9,7.9,11.6,7.9C235.1,96.8,239.1,94.4,243.8,89.6z"/>
    <path fill="#D23332" d="M311.5,89.6v11.8c-10.6,9.9-19,14.9-25.2,14.9c-5,0-7.4-4.4-7.1-13.3c-8.1,8.9-14.6,13.3-19.6,13.3
      c-4.1,0-7.8-2-10.8-5.9c-3.1-3.9-4.6-8.6-4.6-13.9c0-9.9,3.2-18.6,9.5-25.9c5.9-6.8,12.1-10.3,18.9-10.3c5.4,0,10,3,13.9,8.9
      l2.3-8.9h11.5l-7.2,29.2c-1.5,6.1-2.3,10.4-2.3,13c0,1.8,0.5,2.7,1.6,2.7C295.6,105.2,301.9,100,311.5,89.6z M281.3,91.5l3.2-14
      c-3.2-3.7-5.3-6-6.2-6.7c-1.4-1.2-3-1.8-4.7-1.8c-4.4,0-8.4,2.5-11.9,7.6c-3.6,5.1-5.4,10.8-5.4,17.1c0,3.8,0.7,6.9,2,9.4
      c1.3,2.5,3,3.8,5,3.8c4.5,0,10.3-4.8,17.3-14.5C280.9,92,281.1,91.7,281.3,91.5z"/>
    <path fill="#D23332" d="M344.3,116.5l2.7-13.4l-2.1,2.3c-6.9,7.3-12.9,10.9-18,10.9c-4.3,0-7.9-1.9-10.8-5.7
      c-2.9-3.8-4.4-8.6-4.4-14.3c0-9.3,2.9-17.6,8.7-24.8c5.8-7.2,12.5-10.9,19.9-10.9c2.4,0,4.5,0.6,6.4,1.8c1.8,1.2,4.2,3.5,7.2,7
      l1.9-8.8h11.3l-9.5,46.7c6.7-4.6,13.8-10.5,21.5-17.7v11.8c-5.8,5.5-13.7,11.7-23.9,18.5c-2.5,11.5-5.3,19.6-8.3,24.2
      s-7.1,6.9-12.2,6.9c-3.9,0-7.2-0.9-9.9-2.8c-2.7-1.8-4.1-4.1-4.1-6.7c0-5.2,6.7-12.6,20-22.1C341.5,118.7,342.7,117.8,344.3,116.5z
       M349.9,89.6l2.4-11.3c-2.7-3.4-4.6-5.6-5.7-6.7c-1.8-1.6-3.6-2.3-5.5-2.3c-3.6,0-7.2,1.9-10.6,5.8c-4.3,4.8-6.5,11.2-6.5,19.1
      c0,3.7,0.6,6.8,1.9,9.1c1.3,2.4,3,3.6,5,3.6c3.7,0,8.8-4,15.1-11.9l2.3-2.8C349.4,90.9,349.9,90,349.9,89.6z M342.1,127.9
      c-8.1,6-12.2,10.2-12.2,12.6c0,2.1,1.5,3.1,4.4,3.1c1.9,0,3.3-1,4.4-3C339.7,138.6,340.8,134.3,342.1,127.9z"/>
    <path fill="#D23332" d="M446.9,89.6v11.8c-3.3,2.6-6.8,3.9-10.6,3.9c-4.9,0-9.4-2.2-13.5-6.7c-6.7,11.8-15.3,17.8-25.6,17.8
      c-5.5,0-9.9-1.8-13-5.3c-3.1-3.5-4.7-8.4-4.7-14.7c0-6.4,1.5-12.5,4.5-18.3c3-5.8,7-10.2,12-13.3c4.4-2.8,9.9-4.1,16.5-4.1
      l-0.6,7.9c-5.2,0.8-9.3,2.6-12.4,5.4c-5.1,4.6-7.7,11.5-7.7,20.8c0,8.4,2.7,12.6,8.2,12.6c3.5,0,6.8-1.8,9.9-5.5
      c3.2-3.7,5.2-8,6.1-13.1c-0.9-3.1-1.3-5.6-1.3-7.4c0-6.7,1.1-12,3.4-15.8h9.2c0.7,2.6,1,5.4,1,8.2c0,4.9-0.8,10.1-2.4,15.6
      c4.3,4.5,8,6.8,11.1,6.8C439.9,96,443.3,93.9,446.9,89.6z"/>
    <path fill="#D23332" d="M456,60.6h11.8c-2.4,6.6-4.4,12.6-5.8,17.9c7.2-6.8,12.8-11.5,16.7-14.1c3.9-2.6,7.4-3.8,10.5-3.8
      c2.4,0,4.5,1.2,6.1,3.7c1.6,2.4,2.4,5.4,2.4,9c0,3.4-1.3,8.8-3.8,16.2c-2.1,6-3.1,10.4-3.1,13c0,2.6,0.8,3.9,2.3,3.9
      c1.2,0,3.8-1.4,7.8-4.2c5-3.5,9.6-7.7,13.8-12.6v11.7l-2.8,2.6c-9.2,8.3-16.8,12.4-22.8,12.4c-2.9,0-5.2-1.2-7-3.5
      c-1.8-2.3-2.6-5.5-2.6-9.5c0-3.4,1.3-8.7,3.8-16.1C485,81.7,486,78,486,76c0-2.9-0.7-4.3-2.1-4.3c-2.9,0-10.6,6.2-22.9,18.6
      l-1.5,1.4c-0.3,2.7-0.4,6.1-0.4,10c0,2.9,0.1,6.6,0.3,10.9l0.1,3.2h-11.1c-0.2-1.7-0.3-4.3-0.5-7.9l-0.3-7.4V96
      C447.6,87.6,450.4,75.8,456,60.6z"/>
  </g>
  <g>
    <path fill="#D23332" d="M563.2,98.6c-10,0-18.1,8.1-18.1,18.1c0,10,8.1,18.1,18.1,18.1s18.1-8.1,18.1-18.1S573.2,98.6,563.2,98.6z
       M563.2,126.4c-5.4,0-9.8-4.4-9.8-9.8c0-5.4,4.4-9.8,9.8-9.8s9.8,4.4,9.8,9.8C573,122.1,568.6,126.4,563.2,126.4z"/>
    <circle fill="#D23332" cx="563.2" cy="116.7" r="1.8"/>
    <path fill="#D23332" d="M668.1,98.6c-10,0-18.1,8.1-18.1,18.1c0,10,8.1,18.1,18.1,18.1c10,0,18.1-8.1,18.1-18.1
      S678.1,98.6,668.1,98.6z M668.1,126.4c-5.4,0-9.8-4.4-9.8-9.8c0-5.4,4.4-9.8,9.8-9.8c5.4,0,9.8,4.4,9.8,9.8
      C677.9,122.1,673.5,126.4,668.1,126.4z"/>
    <circle fill="#D23332" cx="668.1" cy="116.7" r="1.8"/>
    <path fill="#D23332" d="M541.5,116.7c0-12,9.7-21.7,21.7-21.7c12,0,21.7,9.7,21.7,21.7h61.5c0-12,9.7-21.7,21.7-21.7
      c12,0,21.7,9.7,21.7,21.7l22.6-0.5c0,0,3.4-1.1,3.4-7.7c0-6.6-4.4-7.1-4.4-7.1l-10.5-0.2c0,0-0.3-6.6-10-16.4s-21-8.3-21-8.3
      l-149.4,0.7v29.6h0.3c0,0-2.5-1.2-2.7,4.7c-0.2,5.9,2.5,4.9,2.5,4.9L541.5,116.7z"/>
    <rect x="585.8" y="105.3" fill="#D23332" width="60.8" height="1.3"/>
    <rect x="522.5" y="105.3" fill="#D23332" width="19.4" height="1.3"/>
    <path fill="#D23332" d="M712.6,71.1h-1.9l-0.8-10.3c0,0-6.4-20.2-20.3-34.6c-0.3-0.3,3.1,0,2.8-0.3c-14.6-14.6-57-11.9-75.4-12.5
      c-18.4-0.7-87.1,4.1-93.9,10.3c-3,2.7-2.5,6.6-2.5,6.6v41.4h152.7c0,0,8.5-1.3,20.6,8.4c9.1,7.3,11.2,18.5,11.2,18.5h5.4l-0.2-16.3
      l2.4,0.2C715.4,78.8,714.3,72.5,712.6,71.1z M570.6,61.3c0,0.8-0.7,1.5-1.5,1.5h-30.3c-0.8,0-1.5-0.7-1.5-1.5v-30
      c0-0.8,0.7-1.5,1.5-1.5h30.3c0.8,0,1.5,0.7,1.5,1.5V61.3z M611.9,61.3c0,0.8-0.7,1.5-1.5,1.5h-30.3c-0.8,0-1.5-0.7-1.5-1.5v-30
      c0-0.8,0.7-1.5,1.5-1.5h30.3c0.8,0,1.5,0.7,1.5,1.5V61.3z M653.2,61.3c0,0.8-0.7,1.5-1.5,1.5h-30.3c-0.8,0-1.5-0.7-1.5-1.5v-30
      c0-0.8,0.7-1.5,1.5-1.5h30.3c0.8,0,1.5,0.7,1.5,1.5V61.3z M698.2,62.8h-37.3c-1.6,0-2.9-1.3-2.9-2.9V32.6c0-1.6,1.3-2.9,2.9-2.9
      h17.4c10.6,0,22.5,21,22.6,26.3C701.1,61.3,699.8,62.8,698.2,62.8z"/>
  </g>
  </svg>
</a>
