.social-share {
  position: fixed;
  width: 100%;
  height: 55px;
  bottom: 0;
  bottom: 0;

  padding-top: 12px;
  line-height: 40px;
  text-align: left;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  background-color: rgba(255, 255, 255, 0.97);

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  z-index: 10;

  svg {
    width: 150px;
    float: right;
    opacity: 1;

    path, rect, circle, text {
      fill: #D23333;
    }
  }

  a {
    color: white;
  }
}

.twitter-share-button {
  position: relative;
  top: -14px;
}

.fb-like {
  position: relative;
  left: 0;
  top: -14px;
  overflow: hidden !important;
}

.logo-wagon {
  position: absolute;
  height: 20px;
  top: 7px;
  right: 20px;
}

/************************************
 Responsive logo on mobile
*************************************/

@media screen and (max-width: 320px) {
  #Calque_1 {
    margin-top: 10px;
    width: 61px;
  }
}