.social-share {
    position: fixed;
    width: 100%;
    height: 55px;
    bottom: 0;
    padding-top: 12px;
    line-height: 40px;
    text-align: left;
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 10;

    svg {
      width: 150px;
      float: right;
      opacity: 0.15;

      path, rect, circle, text {
        fill: black;
      }
    }

    a {
      color: white;

    }
 }

.fb-like {
  top: -15px;
}

.logo-wagon {
  position: absolute;
  height: 20px;
  top: 7px;
  right: 20px;
}