.top-banner {
  background-color: #3C3D51;
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.80em;
  font-weight: bold;
  line-height: 1.25rem;
  padding: 21px 0;
  text-align: center;
}